[package]
name = "quantum-sparse-sim"
version = "0.7.1"
authors = ["Microsoft"]
edition = "2021"
license = "MIT"

[dependencies]
rand = "0.8.5"
rustc-hash = "1.1.0"
num-complex = "0.4"
num-traits = "0.2.19"
num-bigint = { version = "0.4.5", default-features = false }
ndarray = "0.15.4"
